fastapi==0.120.2
pydantic==2.12.3
uvicorn==0.38.0

streamlit
streamlit-option-menu
scikit-learn==1.6.1
pandas==2.3.3
numpy==2.3.5
scipy
plotly
pillow
imbalanced-learn
xgboost
lightgbm
joblib
matplotlib